<script src="https://johnwesthoff.com/js/jquery.min.js"> </script>
<script src="https://johnwesthoff.com/js/phaser/v2/build/phaser.min.js"> </script>
<head>
    <style type="text/css" media="screen"> #editor { top: 0; right: 0; bottom: 0; left: 0; width:600px;}
#game_div {
    width:80%;
    height:auto;
    margin:0 auto;
}</style>
</head>
<script> $("#but").remove(); //remove any previous button </script>
<script src="game.js"></script>
<button id="but" onclick="start();">Start Script</button>
<div id="game_div"> </div>
</body>
