{{ if .Get 0 }}{{ else }}
{{ end }}
<head>
<style type="text/css" media="screen"> #editor { top: 0; right: 0; bottom: 0; left: 0; margin:0 auto;} </style>
</head>
<div id="editor{{ .Get 0 }}">{{ if len .Inner | ne 0 }}{{ trim .Inner " \n" }}{{ else }}(+ 1 1){{ end }} </div>
<script src="https://johnwesthoff.com/js/ace/src-min-noconflict/ace.js"></script>
<script>
var editor = ace.edit("editor{{ .Get 0 }}");
editor.setTheme("ace/theme/chrome");
editor.setAutoScrollEditorIntoView(true);
editor.setOption("maxLines", 30);
editor.getSession().setMode("ace/mode/javascript");
var code = new URL(window.location).searchParams.get("code");
if (code) {
        editor.setValue(code, new Number('0'));
} else {
    var b64 = new URL(window.location).searchParams.get("b64");
    if (b64) {
        editor.setValue(atob(b64), new Number('0'));
    }
}
eval(editor.getValue());
</script>
<button id="but" onclick="var t = ace.edit('editor{{ .Get 0 }}').getValue(); parse(t); ">Run</button>
<button id="but" onclick="var t = ace.edit('editor{{ .Get 0 }}').getValue(); window.location = window.location.href.split('?')[0] + '?b64=' + encodeURIComponent(btoa(t)); " >Share</button>
